<p>employee works!</p>
<mat-toolbar color="primary">
    <span>Angular 8 MatTable CRUD Example</span>
    <span class="spacer"></span>
    <!-- Reload data:
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button> -->
</mat-toolbar>

<div class="container mat-elevation-z8">

    <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filter issues">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
        ng update @angular/cli @angular/core
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.age}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="experience">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Experience</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.experience}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phone}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="streetAdress">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Street Adress</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.streetAdress}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header>city</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.city}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="zipcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Zipcode</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.zipcode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="joinDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>JoinDate</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.joinDate}}</mat-cell>
      </ng-container>



        <!-- actions -->
         <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="addNew()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
            </mat-header-cell>
      
            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="edit(row)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
            </mat-cell>  
            
          </ng-container>
          
          <!-- <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button color="accent" (click)="edit(row)">
                    <mat-icon matListAvatar class="md-18">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container> -->

          <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button color="accent" (click)="delete(row)">
                    <mat-icon matListAvatar class="md-18">delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <!-- <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
          No results
        </div> -->

    <!-- <mat-paginator #paginator
                       [length]="dataSource.filteredData.length"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator> -->
</div>