<p>add works!</p>
<div fxLayout="column" [style.height.%]="100" layout-padding>
        <div fxLayout="row">
            <h3 mat-dialog-title fxFlex>New Employee</h3>
            <button mat-dialog-close mat-icon-button >
                <mat-icon class="tc-grey-400">close</mat-icon>
            </button>
        </div>
                <mat-dialog-content [formGroup]="form" fxLayout="row wrap" fxLayout.sm="column" fxLayoutGap="20px">
                  <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                  </mat-form-field>
              
                  <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                  </mat-form-field>    
                           
                  <mat-form-field>
                    <input  input type="number" matInput placeholder="age" formControlName="age" >
                  </mat-form-field>

                  <mat-form-field>
                        <input input type="number" matInput placeholder="experience" formControlName="experience" required>
                      </mat-form-field>
    
                 <mat-form-field>
                    <input input type="number" id="phone" matInput placeholder="phone" formControlName="phone" ngModel maxlength="5">
                    
                  </mat-form-field>
    
                  <mat-form-field>
                    <input matInput placeholder="streetAdress" formControlName="streetAdress">
                  </mat-form-field>

                  <mat-form-field>
                    <!-- <input matInput placeholder="state" formControlName="state"> -->
                    <mat-label>state</mat-label>
                    <mat-select (selectionChange)="getCities($event.value)">
                      <mat-option *ngFor="let state of states" [value]="state" >
                        {{state}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              
                  <!-- <mat-form-field>
                    <input matInput placeholder="city" formControlName="city">
                  </mat-form-field> -->
                  <mat-form-field>
                    <!-- <input matInput placeholder="state" formControlName="state"> -->
                    <mat-label>city</mat-label>
                    <mat-select (selectionChange)="getZipcode($event.value)">
                      <mat-option *ngFor="let city of cities" [value]="city" >
                        {{city}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              
                
              
                <!-- <mat-form-field>
                    <input input type="number" matInput placeholder="zipcode" formControlName="zipcode">
                </mat-form-field> -->

                <mat-form-field>
                  <mat-label>zipcode</mat-label>
                  <mat-select >
                    <mat-option *ngFor="let zipcode of zipcodes" [value]="zipcode" >
                      {{zipcode}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
                <mat-form-field>
                    <input input type="number" matInput placeholder="workingDays" formControlName="workingDays">
                </mat-form-field>
                
                <mat-form-field>
                  <input input type="date" matInput placeholder="joinDate" formControlName="joinDate">
              </mat-form-field>
    
                  <!-- <mat-checkbox *ngIf="!isDefault" formControlName="disable">Disable Mode</mat-checkbox> -->
              
                 
                </mat-dialog-content>
    
                <div fxFlex></div>
                <mat-dialog-actions>
                  <mat-error *ngIf="invalidFormFlag">Required Fields cannot be left blank. &nbsp;</mat-error>
                  <button class="mat-raised-button" (click)="close()">Close</button>
                  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
                </mat-dialog-actions>
                        </div>